dify_workflows/rdma_network_monitoring.yml
app:
  description: >-
    RDMA Root Cause Analysis (RCA) Workflow.
    Collects real monitoring data via HTTP API from rdma_monitor.py,
    preprocesses it, retrieves relevant knowledge from RDMA fault cases,
    performs multi-layer analysis, and produces actionable RCA reports.
    Includes quality gating with retry loop and expert escalation.
  icon: "\U0001F50D"
  icon_background: '#1E3A5F'
  mode: workflow
  name: RDMA Root Cause Analysis
  use_icon_as_answer_icon: true

kind: app
version: 0.1.2

# =====================================================================
#  ARCHITECTURE OVERVIEW
# =====================================================================
#
#  +---------+     +----------------+     +---------------+
#  |  Start  | --> | HTTP: Collect  | --> | Code: Parse & |
#  |         |     | Monitor Data   |     | Flag Anomalies|
#  +---------+     +----------------+     +---------------+
#                                                |
#                                                v
#                                      +------------------+
#                                      | Knowledge Retrieval|
#                                      | (RDMA Fault Cases) |
#                                      +------------------+
#                                                |
#                                                v
#                                      +------------------+
#                                      | LLM: RCA Analysis |
#                                      | Agent             |
#                               +----->+------------------+
#                               |                |
#                               |                v
#                               |      +------------------+
#                               |      | LLM: Judge Agent  |
#                               |      +------------------+
#                               |                |
#                               |         [Quality Gate]
#                               |          /     |     \
#                               |    APPROVED  RETRY  ESCALATE
#                               |        |      |        |
#                               |        v      |        v
#                               +----<--+    +--+   +---------+
#                                        |   |     | LLM:     |
#                                   [End |   |     | Expert   |
#                                  Report]   |     +---------+
#                                            |          |
#                                            v          v
#                                       [End Report]  [End Report]
#
# =====================================================================
#  DEPLOYMENT: Start monitor API first:
#    cd monitor && python monitor_api.py --port 5100
#  Then import this YAML into Dify.
#  Configure the MONITOR_API_BASE environment variable below.
# =====================================================================

workflow:
  environment_variables:
    - description: Base URL of the RDMA Monitor API server (monitor_api.py)
      name: MONITOR_API_BASE
      value: 'http://localhost:5100'
      value_type: string
  conversation_variables: []
  features:
    file_upload:
      allowed_file_extensions:
        - .json
        - .txt
        - .log
      allowed_file_types:
        - document
      allowed_file_upload_methods:
        - local_file
      enabled: true
      max_file_size_mb: 50
      number_limits: 5
    opening_statement: >-
      RDMA Root Cause Analysis System.
      I collect real-time RDMA metrics, network counters, and fabric
      topology from your cluster, then perform automated root cause analysis.
      Upload a monitoring report or let me collect live data.
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions:
      - Run full RDMA health check and RCA
      - Analyse high error counters on mlx5_0
      - Check for PFC deadlock or victim flow symptoms
      - Diagnose link flapping on port 1
    text_to_speech:
      enabled: false

  graph:
    edges:
      # start -> http-collect
      - data:
          sourceType: start
          targetType: http-request
        id: e-start-collect
        source: start
        sourceHandle: source
        target: node-http-collect
        targetHandle: target

      # http-collect -> code-preprocess
      - data:
          sourceType: http-request
          targetType: code
        id: e-collect-preprocess
        source: node-http-collect
        sourceHandle: source
        target: node-preprocess
        targetHandle: target

      # code-preprocess -> knowledge-retrieval
      - data:
          sourceType: code
          targetType: knowledge-retrieval
        id: e-preprocess-knowledge
        source: node-preprocess
        sourceHandle: source
        target: node-knowledge
        targetHandle: target

      # knowledge-retrieval -> analysis-agent
      - data:
          sourceType: knowledge-retrieval
          targetType: llm
        id: e-knowledge-analysis
        source: node-knowledge
        sourceHandle: source
        target: node-analysis
        targetHandle: target

      # analysis-agent -> judge-agent
      - data:
          sourceType: llm
          targetType: llm
        id: e-analysis-judge
        source: node-analysis
        sourceHandle: source
        target: node-judge
        targetHandle: target

      # judge-agent -> quality-gate
      - data:
          sourceType: llm
          targetType: if-else
        id: e-judge-gate
        source: node-judge
        sourceHandle: source
        target: node-quality-gate
        targetHandle: target

      # quality-gate TRUE (APPROVED) -> template-report
      - data:
          sourceType: if-else
          targetType: template-transform
        id: e-gate-report
        source: node-quality-gate
        sourceHandle: 'true'
        target: node-report
        targetHandle: target

      # template-report -> end-approved
      - data:
          sourceType: template-transform
          targetType: end
        id: e-report-end
        source: node-report
        sourceHandle: source
        target: node-end-approved
        targetHandle: target

      # quality-gate FALSE -> retry-or-escalate
      - data:
          sourceType: if-else
          targetType: if-else
        id: e-gate-retry
        source: node-quality-gate
        sourceHandle: 'false'
        target: node-retry-or-escalate
        targetHandle: target

      # retry-or-escalate TRUE (RETRY) -> analysis-agent (loop)
      - data:
          sourceType: if-else
          targetType: llm
        id: e-retry-analysis
        source: node-retry-or-escalate
        sourceHandle: 'true'
        target: node-analysis
        targetHandle: target

      # retry-or-escalate FALSE (ESCALATE) -> expert
      - data:
          sourceType: if-else
          targetType: llm
        id: e-escalate-expert
        source: node-retry-or-escalate
        sourceHandle: 'false'
        target: node-expert
        targetHandle: target

      # expert -> template-expert-report
      - data:
          sourceType: llm
          targetType: template-transform
        id: e-expert-report
        source: node-expert
        sourceHandle: source
        target: node-expert-report
        targetHandle: target

      # template-expert-report -> end-expert
      - data:
          sourceType: template-transform
          targetType: end
        id: e-expert-end
        source: node-expert-report
        sourceHandle: source
        target: node-end-expert
        targetHandle: target

    nodes:
      # =============================================================
      # START
      # =============================================================
      - data:
          title: Start
          type: start
          desc: Accept user symptom description and optional uploaded report.
          variables:
            - label: Symptom / Request
              max_length: 4000
              options: []
              required: true
              type: paragraph
              variable: user_request
            - label: Target Hosts (comma-separated)
              max_length: 500
              options: []
              required: false
              type: text-input
              variable: target_hosts
            - label: Monitor API Base URL
              max_length: 200
              options: []
              required: false
              type: text-input
              variable: api_base_override
        height: 150
        id: start
        position:
          x: 80
          y: 300
        type: start
        width: 244

      # =============================================================
      # HTTP REQUEST: Collect Monitoring Data
      # =============================================================
      - data:
          title: Collect Monitor Data
          type: http-request
          desc: >-
            Calls the rdma_monitor API server to collect real-time RDMA
            device status, error counters, network counters, fabric
            topology, and hardware health. This is REAL data, not LLM
            generated.
          method: GET
          url: '{{#env.MONITOR_API_BASE#}}/api/v1/collect/all'
          headers: ''
          params: ''
          body:
            type: none
          authorization:
            type: no-auth
          timeout:
            connect: 10
            read: 120
            write: 10
          retry:
            max_retries: 3
            retry_interval: 2000
        height: 120
        id: node-http-collect
        position:
          x: 400
          y: 300
        type: http-request
        width: 244

      # =============================================================
      # CODE: Preprocess & Flag Anomalies
      # =============================================================
      - data:
          title: Preprocess & Flag Anomalies
          type: code
          desc: >-
            Parse the raw JSON from monitor API. Extract key metrics,
            flag anomalies using threshold rules, and build a structured
            summary for the LLM analysis agent. This deterministic step
            ensures the LLM focuses on diagnosis, not data parsing.
          code_language: python3
          code: |
            import json

            def main(monitor_json: str, user_request: str) -> dict:
                """Parse monitor data, flag anomalies, build RCA input."""
                try:
                    data = json.loads(monitor_json)
                except (json.JSONDecodeError, TypeError):
                    return {
                        "summary": "ERROR: Could not parse monitor data.",
                        "anomalies": "[]",
                        "raw_data": str(monitor_json)[:8000]
                    }

                anomalies = []
                summary_parts = []

                # --- Device Status ---
                device_info = data.get("device", data.get("rdma_device_status", {}))
                ibstat = device_info.get("ibstat", [])
                for dev in ibstat:
                    dev_name = dev.get("name", "unknown")
                    for port in dev.get("ports", []):
                        props = port.get("properties", {})
                        state = props.get("State", "")
                        phys = props.get("Physical state", "")
                        port_num = port.get("port_number", "?")
                        summary_parts.append(
                            f"Device {dev_name} Port {port_num}: State={state}, Physical={phys}"
                        )
                        if state != "Active":
                            anomalies.append({
                                "severity": "CRITICAL",
                                "category": "Link",
                                "device": dev_name,
                                "port": port_num,
                                "description": f"Port not Active (state={state}, physical={phys})",
                                "evidence": f"ibstat shows State={state}"
                            })

                # --- Error Counters ---
                counters = data.get("counters", data.get("rdma_counters", {}))
                perfq = counters.get("perfquery", {})

                error_thresholds = {
                    "SymbolErrorCounter": 10,
                    "LinkErrorRecoveryCounter": 1,
                    "LinkDownedCounter": 1,
                    "PortRcvErrors": 1,
                    "PortRcvRemotePhysicalErrors": 1,
                    "PortXmitDiscards": 100,
                    "PortXmitConstraintErrors": 1,
                    "PortRcvConstraintErrors": 1,
                    "VL15Dropped": 1,
                    "ExcessiveBufferOverrunErrors": 1,
                    "LocalLinkIntegrityErrors": 1,
                }

                for counter_name, threshold in error_thresholds.items():
                    val_str = perfq.get(counter_name, "0")
                    try:
                        val = int(val_str.split()[0]) if val_str else 0
                    except (ValueError, IndexError):
                        val = 0
                    if val >= threshold:
                        sev = "CRITICAL" if val >= threshold * 100 else "WARNING"
                        anomalies.append({
                            "severity": sev,
                            "category": "Counter",
                            "counter": counter_name,
                            "value": val,
                            "threshold": threshold,
                            "description": f"{counter_name}={val} exceeds threshold {threshold}",
                        })

                # --- Network Counters ---
                net_data = data.get("network", data.get("network_counters", {}))
                for netdev_name, dev_stats in net_data.items():
                    if netdev_name == "rdma_netdevs":
                        continue
                    if not isinstance(dev_stats, dict):
                        continue
                    sysfs = dev_stats.get("sysfs_counters", {})
                    for err_key in ["rx_errors", "tx_errors", "rx_dropped", "tx_dropped",
                                    "rx_crc_errors", "rx_frame_errors"]:
                        val = sysfs.get(err_key, 0)
                        if isinstance(val, int) and val > 0:
                            anomalies.append({
                                "severity": "WARNING",
                                "category": "Network",
                                "interface": netdev_name,
                                "counter": err_key,
                                "value": val,
                                "description": f"{netdev_name}: {err_key}={val}",
                            })

                    # Check ethtool PFC counters for pause storm
                    eth_stats = dev_stats.get("ethtool_stats", {})
                    for key, val in eth_stats.items():
                        if "pause" in key.lower() and isinstance(val, int) and val > 10000:
                            anomalies.append({
                                "severity": "WARNING",
                                "category": "PFC",
                                "interface": netdev_name,
                                "counter": key,
                                "value": val,
                                "description": f"High PFC pause count: {key}={val}",
                            })

                # --- Topology ---
                topo = data.get("topology", data.get("rdma_topology", {}))
                topo_parsed = topo.get("ibnetdiscover", {})
                if topo_parsed:
                    summary_parts.append(
                        f"Topology: {topo_parsed.get('node_count', '?')} nodes, "
                        f"{topo_parsed.get('link_count', '?')} links"
                    )

                # --- Hardware ---
                hw = data.get("hardware", data.get("hardware_health", {}))
                dmesg = hw.get("dmesg_rdma", "")
                if dmesg:
                    for keyword in ["error", "fault", "timeout", "failed", "EEH"]:
                        if keyword.lower() in dmesg.lower():
                            anomalies.append({
                                "severity": "CRITICAL",
                                "category": "Hardware",
                                "description": f"Kernel log contains '{keyword}' related to RDMA",
                                "evidence": dmesg[:500],
                            })
                            break

                # --- Build output ---
                anomalies.sort(key=lambda a: {"CRITICAL": 0, "WARNING": 1, "INFO": 2}.get(a.get("severity", "INFO"), 3))

                health = "HEALTHY"
                if any(a["severity"] == "WARNING" for a in anomalies):
                    health = "WARNING"
                if any(a["severity"] == "CRITICAL" for a in anomalies):
                    health = "CRITICAL"

                summary_parts.insert(0, f"Overall Health: {health}")
                summary_parts.append(f"Anomalies detected: {len(anomalies)}")

                return {
                    "summary": "\n".join(summary_parts),
                    "anomalies": json.dumps(anomalies, indent=2),
                    "health_status": health,
                    "raw_data": json.dumps(data, indent=2, default=str)[:30000],
                    "user_request": user_request,
                }
          variables:
            - variable: monitor_json
              value_selector:
                - node-http-collect
                - body
            - variable: user_request
              value_selector:
                - start
                - user_request
          outputs:
            summary:
              type: string
            anomalies:
              type: string
            health_status:
              type: string
            raw_data:
              type: string
            user_request:
              type: string
        height: 160
        id: node-preprocess
        position:
          x: 720
          y: 300
        type: code
        width: 244

      # =============================================================
      # KNOWLEDGE RETRIEVAL: RDMA Fault Cases & Troubleshooting
      # =============================================================
      - data:
          title: Retrieve RDMA Knowledge
          type: knowledge-retrieval
          desc: >-
            Search RDMA fault cases, troubleshooting guides, and tool
            documentation for relevant diagnostic context. Uses the
            anomaly descriptions as the retrieval query.
          query_variable_selector:
            - node-preprocess
            - anomalies
          dataset_ids: []
          retrieval_mode: multiple
          multiple_retrieval_config:
            top_k: 8
            score_threshold: 0.5
            reranking_enable: true
            reranking_mode: weighted_score
            weights:
              vector_setting:
                vector_weight: 0.7
              keyword_setting:
                keyword_weight: 0.3
          single_retrieval_config:
            model:
              name: gpt-4o-mini
              provider: openai
        height: 120
        id: node-knowledge
        position:
          x: 1040
          y: 300
        type: knowledge-retrieval
        width: 244

      # =============================================================
      # LLM: RCA Analysis Agent
      # =============================================================
      - data:
          title: RCA Analysis Agent
          type: llm
          desc: >-
            Core analysis agent. Receives preprocessed metrics with
            flagged anomalies plus retrieved RDMA knowledge. Produces
            structured Root Cause Analysis with action plans.
          model:
            completion_params:
              temperature: 0.2
              max_tokens: 10000
            mode: chat
            name: gpt-4o
            provider: openai
          prompt_template:
            - role: system
              text: >-
                You are an RDMA Root Cause Analysis (RCA) Agent.

                You receive:
                1. Preprocessed monitoring data with flagged anomalies
                   (deterministic threshold checks already done)
                2. Retrieved knowledge from the RDMA fault case database
                3. Optional judge feedback from a previous iteration

                ## Your RCA Methodology (follow strictly)

                ### Phase 1: Symptom Enumeration
                List every anomaly and abnormal counter. Group by:
                - Physical layer (SymbolErrors, LinkRecovers, cable)
                - Link layer (LinkDowned, RcvErrors, state changes)
                - Transport layer (XmtDiscards, retries, QP errors)
                - Network layer (PFC pauses, ECN marks, drops)
                - System layer (PCIe, firmware, driver, thermal)

                ### Phase 2: Correlation Analysis
                - Which anomalies are correlated? (same device, same time window)
                - Which anomalies are independent?
                - What is the causal chain? (e.g., cable fault -> SymbolErrors
                  -> LinkRecovers -> LinkDowned -> QP retry timeout)

                ### Phase 3: Root Cause Identification
                For each independent root cause:
                - **Root Cause ID**: RC-001, RC-002, ...
                - **Confidence**: High / Medium / Low
                - **Category**: Physical | Configuration | Software | Hardware | Design
                - **Description**: What is the root cause
                - **Evidence**: List of supporting anomalies/counters
                - **Ruling Out**: What alternative causes were considered and why rejected
                - **Matching Fault Pattern**: Reference known RDMA fault case if applicable
                  (e.g., "Matches Case 001: PFC Deadlock")

                ### Phase 4: Action Plan
                For each root cause, provide:
                - **Immediate (0-15 min)**: Exact commands to stabilize
                - **Diagnostic (15-60 min)**: Commands to confirm root cause
                - **Remediation**: Fix steps with exact commands
                - **Validation**: How to confirm the fix worked
                - **Prevention**: Long-term measures

                ### Phase 5: Risk Assessment
                - **Impact Score**: 1-10 (10 = complete fabric outage)
                - **Urgency**: Immediate / Within-hours / Scheduled
                - **Service Impact**: What workloads are affected
                - **Blast Radius**: Single port / device / switch / fabric-wide

                ## Output Format
                Use the exact section headers above. Be specific - include exact
                counter values, device names, port numbers, and CLI commands.
                Never say "check the logs" without specifying which log and what to grep for.

            - role: user
              text: >-
                ## User Symptom Report
                {{#node-preprocess.user_request#}}

                ## Health Status: {{#node-preprocess.health_status#}}

                ## Monitoring Summary
                {{#node-preprocess.summary#}}

                ## Detected Anomalies (auto-flagged)
                {{#node-preprocess.anomalies#}}

                ## Retrieved RDMA Knowledge Base Context
                {{#node-knowledge.result#}}

                ## Raw Monitoring Data
                {{#node-preprocess.raw_data#}}

                {{#node-judge.text#}}

                Perform a complete Root Cause Analysis following the 5-phase methodology.
          context:
            enabled: false
            variable_selector: []
          vision:
            enabled: false
        height: 180
        id: node-analysis
        position:
          x: 1360
          y: 300
        type: llm
        width: 244

      # =============================================================
      # LLM: Judge Agent
      # =============================================================
      - data:
          title: Judge Agent
          type: llm
          desc: >-
            Quality gate. Evaluates the RCA output for completeness,
            accuracy, and actionability. Decides APPROVED / RETRY / ESCALATE.
          model:
            completion_params:
              temperature: 0.1
              max_tokens: 4000
            mode: chat
            name: gpt-4o
            provider: openai
          prompt_template:
            - role: system
              text: >-
                You are an RCA Quality Judge for RDMA network diagnosis.

                ## Evaluation Rubric

                ### 1. Completeness (0-25)
                - Every flagged anomaly addressed? (-5 per missed anomaly)
                - All 5 RCA phases present? (-5 per missing phase)
                - Topology analysis included?

                ### 2. Causal Rigor (0-25)
                - Correlation vs causation distinguished?
                - Causal chains logically sound?
                - Alternative causes explicitly ruled out?
                - Confidence levels justified?

                ### 3. Actionability (0-25)
                - Every action has an exact command?
                - Commands use correct syntax for the detected device/port?
                - Validation steps provided for each fix?
                - Rollback procedures included?

                ### 4. Knowledge Utilization (0-25)
                - Retrieved fault cases referenced appropriately?
                - Counter thresholds interpreted correctly?
                - Tool usage matches documented capabilities?

                ## Scoring Rules
                - **APPROVED** : score >= 70  (analysis is reliable for operators)
                - **RETRY**    : score 40-69  (fixable gaps, provide specific feedback)
                - **ESCALATE** : score < 40   (fundamental gaps, needs expert model)

                ## Output Format (EXACT)
                ```
                SCORE: <number>
                VERDICT: APPROVED | RETRY | ESCALATE

                COMPLETENESS: <score>/25 - <notes>
                CAUSAL_RIGOR: <score>/25 - <notes>
                ACTIONABILITY: <score>/25 - <notes>
                KNOWLEDGE_USE: <score>/25 - <notes>

                FEEDBACK: <specific items to fix on retry>
                MISSING: <data or analysis gaps>
                ```

            - role: user
              text: >-
                ## Flagged Anomalies
                {{#node-preprocess.anomalies#}}

                ## RCA Analysis Output
                {{#node-analysis.text#}}

                ## Retrieved Knowledge Used
                {{#node-knowledge.result#}}

                Evaluate this RCA. Output your structured verdict.
          context:
            enabled: false
            variable_selector: []
          vision:
            enabled: false
        height: 160
        id: node-judge
        position:
          x: 1680
          y: 300
        type: llm
        width: 244

      # =============================================================
      # IF/ELSE: Quality Gate
      # =============================================================
      - data:
          title: Quality Gate
          type: if-else
          desc: Routes based on judge verdict. APPROVED -> report, else -> retry/escalate check.
          conditions:
            - comparison_operator: contains
              id: cond-approved
              value: 'APPROVED'
              variable_selector:
                - node-judge
                - text
        height: 120
        id: node-quality-gate
        position:
          x: 2000
          y: 300
        type: if-else
        width: 244

      # =============================================================
      # IF/ELSE: Retry or Escalate
      # =============================================================
      - data:
          title: Retry or Escalate
          type: if-else
          desc: >-
            RETRY -> loop back to analysis agent with judge feedback.
            ESCALATE -> forward to expert LLM.
          conditions:
            - comparison_operator: contains
              id: cond-retry
              value: 'RETRY'
              variable_selector:
                - node-judge
                - text
        height: 120
        id: node-retry-or-escalate
        position:
          x: 2000
          y: 520
        type: if-else
        width: 244

      # =============================================================
      # LLM: Expert (Escalation Target)
      # =============================================================
      - data:
          title: Expert LLM
          type: llm
          desc: >-
            Most powerful model. Handles cases the standard analysis
            agent could not resolve. Deep multi-factor RCA with
            advanced debugging and vendor escalation guidance.
          model:
            completion_params:
              temperature: 0.15
              max_tokens: 16000
            mode: chat
            name: o1-preview
            provider: openai
          prompt_template:
            - role: system
              text: >-
                You are a Senior RDMA Network Expert. This case was ESCALATED
                because the standard RCA agent failed quality review.

                You have 20+ years in InfiniBand, RoCE, NVIDIA/Mellanox ConnectX
                (CX-3 through CX-8), Spectrum switches, and MLNX_OFED.

                ## What you receive
                - Raw monitoring data (real metrics from rdma_monitor.py)
                - Auto-flagged anomalies (deterministic threshold checks)
                - The failed RCA attempt and judge feedback
                - Retrieved knowledge from RDMA fault case database

                ## Your mandate
                1. **Deep multi-factor RCA**: Consider interacting failure modes.
                   E.g., PFC deadlock + victim flow + ECMP imbalance creating a
                   cascading fabric degradation.

                2. **Advanced diagnostics**: Commands beyond standard tools:
                   - mlx5 debug: `mlxreg -d /dev/mst/mt4123_pciconf0 --reg_name PPCNT`
                   - Firmware trace: `mlxfwmanager --query`, `flint` commands
                   - PCIe AER: `lspci -vvv -s <bdf> | grep -A20 'Capabilities.*AER'`
                   - Kernel debug: `echo 8 > /proc/sys/kernel/printk`, `perf trace`

                3. **Configuration forensics**: Detect misconfigurations by
                   cross-checking multiple sources (sysfs, ethtool, mlnx_qos,
                   tc filter, ip rule).

                4. **Risk-scored action plan**: Every action gets:
                   - Risk: None / Low / Medium / High
                   - Service impact: Online / Brief-disruption / Maintenance-window
                   - Rollback: Exact undo command

                5. **Vendor escalation template** (if needed):
                   - sysdump collection command
                   - Support case severity recommendation
                   - Data to attach (dmesg, ibdiagnet, fw traces)

                ## Known complex patterns to check
                - PFC deadlock cascade (Case 001 + Case 003 interaction)
                - ECN/WRED misconfiguration creating oscillation (Case 005)
                - QP exhaustion under ECMP with asymmetric fabric (Case 006)
                - PCIe completion timeout from thermal throttling (Case 007)
                - Silent data corruption from firmware bug (check errata)
                - DCBX negotiation failure causing mixed lossless/lossy traffic

            - role: user
              text: >-
                ## ESCALATED CASE

                ### User Symptom
                {{#node-preprocess.user_request#}}

                ### Health Status: {{#node-preprocess.health_status#}}

                ### Auto-Flagged Anomalies
                {{#node-preprocess.anomalies#}}

                ### Raw Monitoring Data
                {{#node-preprocess.raw_data#}}

                ### Knowledge Base Context
                {{#node-knowledge.result#}}

                ### Failed RCA Attempt
                {{#node-analysis.text#}}

                ### Judge Feedback (why it failed)
                {{#node-judge.text#}}

                Provide your expert-level Root Cause Analysis.
          context:
            enabled: false
            variable_selector: []
          vision:
            enabled: false
        height: 180
        id: node-expert
        position:
          x: 2320
          y: 520
        type: llm
        width: 244

      # =============================================================
      # TEMPLATE: Format Approved RCA Report
      # =============================================================
      - data:
          title: Format RCA Report
          type: template-transform
          desc: Assemble the final approved RCA report.
          template: |
            # RDMA Root Cause Analysis Report

            **Status**: APPROVED by Quality Judge
            **Health**: {{health_status}}
            **Generated**: {{timestamp}}

            ---

            ## Monitoring Summary
            {{summary}}

            ---

            ## Root Cause Analysis
            {{analysis}}

            ---

            ## Quality Review
            {{verdict}}
          variables:
            - variable: health_status
              value_selector:
                - node-preprocess
                - health_status
            - variable: timestamp
              value_selector:
                - node-preprocess
                - summary
            - variable: summary
              value_selector:
                - node-preprocess
                - anomalies
            - variable: analysis
              value_selector:
                - node-analysis
                - text
            - variable: verdict
              value_selector:
                - node-judge
                - text
        height: 120
        id: node-report
        position:
          x: 2320
          y: 200
        type: template-transform
        width: 244

      # =============================================================
      # TEMPLATE: Format Expert RCA Report
      # =============================================================
      - data:
          title: Format Expert Report
          type: template-transform
          desc: Assemble the escalated expert RCA report.
          template: |
            # RDMA Root Cause Analysis Report (EXPERT ESCALATION)

            **Status**: Escalated to Expert LLM
            **Health**: {{health_status}}

            ---

            ## Monitoring Summary
            {{summary}}

            ---

            ## Expert Root Cause Analysis
            {{expert_analysis}}

            ---

            ## Escalation Context
            ### Initial Analysis (rejected)
            {{initial_analysis}}

            ### Judge Feedback
            {{judge_feedback}}
          variables:
            - variable: health_status
              value_selector:
                - node-preprocess
                - health_status
            - variable: summary
              value_selector:
                - node-preprocess
                - anomalies
            - variable: expert_analysis
              value_selector:
                - node-expert
                - text
            - variable: initial_analysis
              value_selector:
                - node-analysis
                - text
            - variable: judge_feedback
              value_selector:
                - node-judge
                - text
        height: 120
        id: node-expert-report
        position:
          x: 2640
          y: 520
        type: template-transform
        width: 244

      # =============================================================
      # TEMPLATE: Approved RCA Report
      # =============================================================
      - data:
          title: RCA Report
          type: template-transform
          desc: >-
            Format the approved RCA analysis into a user-friendly
            report with structured sections.
          template: |
            # RDMA Root Cause Analysis Report

            ## Summary
            {{#node-preprocess.summary#}}

            ## Health Status
            {{#node-preprocess.health_status#}}

            ## Analysis
            {{#node-analysis.text#}}

            ## User Request
            {{#node-preprocess.user_request#}}
          outputs:
            output:
              type: string
        height: 120
        id: node-report
        position:
          x: 2400
          y: 200
        type: template-transform
        width: 244

      # =============================================================
      # END: Approved
      # =============================================================
      - data:
          title: End (Approved)
          type: end
          desc: Final output for approved RCA.
          outputs:
            - value_selector:
                - node-report
                - output
              variable: rca_report
        height: 90
        id: node-end-approved
        position:
          x: 2640
          y: 200
        type: end
        width: 244

      # =============================================================
      # END: Expert
      # =============================================================
      - data:
          title: End (Expert)
          type: end
          desc: Final output for expert-escalated RCA.
          outputs:
            - value_selector:
                - node-expert-report
                - output
              variable: rca_report
        height: 90
        id: node-end-expert
        position:
          x: 2960
          y: 520
        type: end
        width: 244
